@page "/"
@using BlazorApp.Data
@using Newtonsoft.Json
@inject HttpClient Http

<h1>Hello, Rajeswaran Illam!</h1>

Welcome to your new app - Mr.Saravana Prasad
<br/>
<h1>Board Transactions</h1>
@if (filteredTransactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
<p>
   Board Name: <input @bind="SearchText" />  @SearchText
</p>
    <button class="btn btn-primary" @onclick="Search"> Search </button>

    <table class="table">
        <thead>
            <tr>
                <th>BoardName</th>
                 <th>Zone 2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boardData in filteredTransactions)
            {
                <tr>
                    <td>@boardData.BoardName</td>
                     <td>@boardData.Zone2</td>                  
                </tr>
            }
        </tbody>
    </table>
<p>
    Free Text: <input @bind="FreeText" @onblur="SearchFreeText" />
    @FreeText
</p>    
}
@code {
   
   private BoardTransaction[] originalTransactions;
    private BoardTransaction[] filteredTransactions;
    private string SearchText = "";
    private string FreeText = "";
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<BoardTransaction[]>("sample-data/Sample_BoardTransaction.json");
        originalTransactions = response;
        filteredTransactions = originalTransactions;
        //HttpResponseMessage response = await Http.GetAsync("https://burglarboarddata.azurewebsites.net/api/BoardData?code=rMbVg6gfT7naJ7w4aQFajpzaHQxJztZWW7ESQguCIW52SaGytxGkqg==");
        //var responseContent = await response.Content.ReadAsStringAsync();
        //originalTransactions = JsonConvert.DeserializeObject<List<BoardTransaction>>(response).ToArray();
        //filteredTransactions = originalTransactions; 
    }  

    private void Search()
    {
        filteredTransactions = originalTransactions;

        if (SearchText != "")
        {
         filteredTransactions = originalTransactions.Where(x => x.BoardName.Contains(SearchText)).ToArray();
        }
    }

    private void SearchFreeText() //string value
    {
       // FreeText = value;
        filteredTransactions = originalTransactions;

        if (FreeText != "")
        {
         filteredTransactions = originalTransactions.Where(x => x.BoardName.Contains(FreeText)
         )
         .ToArray();
        }
    }
}

